@page
@model FashionShopDemo.Areas.Identity.Pages.Account.Manage.SuccessModel
@{
    ViewData["Title"] = "Verification Success";
}

<h3>@ViewData["Title"]</h3>
<p>Your phone number has been verified successfully.</p>
