
@page
@model FashionShopDemo.Areas.Identity.Pages.Account.Manage.VerifyOtpModel
@{
    ViewData["Title"] = "Xác nhận OTP";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OTP" class="form-control" placeholder="Enter OTP" />
                <label asp-for="Input.OTP" class="form-label"></label>
                <span asp-validation-for="Input.OTP" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Xác nhận</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}