.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-header {
    background-color: #007bff;
}

.card-body {
    background-color: #f8f9fa;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.font-weight-bold {
    font-weight: bold;
}
/* CSS để căn giữa văn bản và thay đổi màu chữ */
@keyframes changeColor {
    0% {
        color: #00afb9;
    }

    50% {
        color: #fed9b7;
    }

    100% {
        color: #f07167;
    }
}

#changing-color {
    animation: changeColor 5s infinite alternate; /* thay đổi màu sau mỗi 5 giây */
}
