/* _content/FashionShopDemo/Views/Shared/_Layout.cshtml.rz.scp.css */

.container-fluid[b-7438p7fyd0] {
    background-color: #daf1de;
    font-weight: bold;

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-collapse[b-7438p7fyd0] {
    border-radius: 5px; /* Bo tròn góc */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng */
    padding: 10px; /* Khoảng cách giữa các phần tử bên trong */
}

a[b-7438p7fyd0] {
  color: #0077cc;
}

.btn-primary[b-7438p7fyd0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7438p7fyd0], .nav-pills .show > .nav-link[b-7438p7fyd0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7438p7fyd0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7438p7fyd0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7438p7fyd0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7438p7fyd0] {
  font-size: 1rem;
  line-height: inherit;
}

.btn-cart[b-7438p7fyd0] {
    /* Tùy chỉnh kích thước và khoảng cách */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    /* Tùy chỉnh màu chữ */
    color: #343a40;
    /* Hiệu ứng hover */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

    .btn-cart:hover[b-7438p7fyd0] {
        /* Tùy chỉnh màu nền và màu chữ khi hover */
        background-color: #f8f9fa;
        color: #212529;
    }




