@*
@{
    ViewData["Title"] = "Chi Tiết Thể Loại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FashionShopDemo.Models.Category
<body>
<div class="container">
    <h1 class="heading" id="heading">@Model.Name</h1>
    @if (Model.Id == 1)
    {
        <p class="content" >
            Thể loại sách văn học bao gồm các tác phẩm văn học, tức là các tác phẩm được viết với mục đích giải trí hoặc mang tính nghệ thuật. Thể loại này có nhiều phân nhánh và thể loại con, bao gồm nhưng không giới hạn trong
            <ul>
                <li><strong>Tiểu thuyết</strong>: Câu chuyện dài với cốt truyện phức tạp và nhân vật phát triển.</li>
                <li><strong>Truyện ngắn</strong>: Câu chuyện ngắn với diễn biến đơn giản và thường tập trung vào một sự kiện hoặc một khía cạnh của cuộc sống.</li>
                <li><strong>Thơ</strong>: Các tác phẩm văn học được viết với cấu trúc và lối viết thơ.</li>
                <li><strong>Kịch</strong>: Các tác phẩm được viết để diễn trên sân khấu hoặc truyền hình, thường có các nhân vật, hành động và lời thoại.</li>
                <li><strong>Tiểu luận</strong>: Các tác phẩm phi hư cấu nhằm truyền đạt ý kiến, quan điểm hoặc kiến thức về một chủ đề cụ thể.</li>
                <li><strong>Truyện tranh</strong>: Các tác phẩm kể chuyện thông qua hình ảnh và văn bản.</li>
                <li><strong>Văn bản phi hư cấu</strong>: Các tác phẩm viết về lịch sử, khoa học, tự truyện và các chủ đề phi hư cấu khác.</li>
            </ul>
        </p>
    }
    else if (Model.Id == 2)
    {
        <p class="content">
            Thể loại sách kinh tế là một phân nhánh trong lĩnh vực văn học, tập trung vào các tác phẩm liên quan đến kinh tế, tài chính và các chủ đề liên quan đến nền kinh tế và các hoạt động kinh doanh. Các cuốn sách kinh tế thường chia sẻ kiến thức và thông tin về cách hoạt động của nền kinh tế, cơ hội và thách thức trong thị trường, quản lý tài chính cá nhân và doanh nghiệp, đầu tư, tiền tệ và chính sách kinh tế.
            <ul>
                <li><strong>Sách về quản lý doanh nghiệp</strong>: Bao gồm các tài liệu về quản lý chiến lược, quản lý nhân sự, quản trị rủi ro, quản lý tài chính và các khía cạnh khác của quản lý doanh nghiệp.</li>
                <li><strong>Sách về tài chính cá nhân</strong>: Cung cấp hướng dẫn và chiến lược cho cá nhân về quản lý tài chính, đầu tư, tiết kiệm và lập kế hoạch tài chính cá nhân.</li>
                <li><strong>Sách về đầu tư và thị trường tài chính</strong>: Bao gồm các tài liệu về cách đầu tư thông minh, phân tích cổ phiếu, giao dịch trên thị trường chứng khoán, và các phương pháp khác để tạo ra lợi nhuận từ thị trường tài chính.</li>
                <li><strong>Sách về kinh tế học</strong>: Tập trung vào lý thuyết kinh tế, chính sách kinh tế và ứng dụng của kinh tế học trong thực tế.</li>
                <li><strong>Sách về lịch sử kinh tế</strong>: Tóm tắt và phân tích sự phát triển của kinh tế từ quá khứ đến hiện tại, cung cấp cái nhìn sâu sắc về các sự kiện và biến động ảnh hưởng đến nền kinh tế.</li>
            </ul>
        </p>
    }
        else if (Model.Id == 3)
        {
            <p class="content">
                Thể loại sách "Tâm Lý - Kĩ Năng Sống" là một lĩnh vực trong văn học tập trung vào các tác phẩm liên quan đến tâm lý học và phát triển cá nhân. Các cuốn sách trong thể loại này thường cung cấp kiến thức và kỹ năng để hiểu về tâm trí con người, cách thức hoạt động của nó, cũng như cách áp dụng những hiểu biết đó vào cuộc sống hàng ngày để phát triển bản thân và cải thiện chất lượng cuộc sống.
                <ul>
                    <li><strong>Tâm lý học cá nhân</strong>: Bao gồm các tài liệu về tự nhận thức, tự biểu đạt, quản lý cảm xúc, và phát triển tâm trạng tích cực.</li>
                    <li><strong>Phát triển bản thân</strong>: Cung cấp các phương pháp và kỹ thuật để phát triển kỹ năng giao tiếp, quản lý thời gian, xây dựng mối quan hệ, và thúc đẩy sự tự tin và sự tự chủ.</li>
                    <li><strong>Kỹ năng sống</strong>: Tập trung vào việc áp dụng những nguyên lý tâm lý học vào cuộc sống hàng ngày, bao gồm cách xử lý áp lực, giải quyết xung đột, và phát triển một cách sống cân bằng và hạnh phúc.</li>
                    <li><strong>Sức khỏe tinh thần</strong>: Sức khỏe tinh thần: Bao gồm các tài liệu về cách duy trì sức khỏe tinh thần tốt, xử lý căng thẳng và lo âu, và cải thiện chất lượng giấc ngủ và sự thư giãn.</li>
                </ul>
                <p class="content">
                    Thể loại sách này thường mang lại giá trị hữu ích trong việc tăng cường hiểu biết về bản thân và giúp đỡ trong việc phát triển cá nhân và tinh thần.
                </p>
            </p>
        }
        else if (Model.Id == 4)
        {
            <p class="content">
                Thể loại sách "Sách Thiếu Nhi" là một danh mục trong văn học được thiết kế đặc biệt cho độc giả ở độ tuổi thiếu niên, thường từ độ tuổi mẫu giáo đến độ tuổi vị thành niên. Sách thiếu nhi có mục tiêu chính là giáo dục và giải trí cho trẻ em, giúp họ phát triển kỹ năng đọc và hiểu biết, khám phá thế giới xung quanh, và phát triển tư duy sáng tạo.

                Các đặc điểm chung của sách thiếu nhi bao gồm:
                <ul>
                    <li><strong>Ngôn ngữ phù hợp</strong>: Sách thiếu nhi thường sử dụng ngôn ngữ đơn giản, dễ hiểu và phù hợp với lứa tuổi của độc giả. Cấu trúc câu và từ vựng thường được chọn lọc để phù hợp với khả năng tiếp thu của trẻ em.</li>
                    <li><strong>Hình ảnh sinh động</strong>: Hầu hết sách thiếu nhi đi kèm với hình ảnh minh họa sinh động, giúp trẻ em hình dung và hiểu được nội dung của câu chuyện hoặc thông điệp được truyền đạt.</li>
                    <li><strong>Chủ đề đa dạng</strong>: Sách thiếu nhi bao gồm một loạt các chủ đề, từ truyện cổ tích, truyện kể về cuộc sống hàng ngày, học tập, bạn bè, đến sách giáo dục về khoa học, lịch sử, nghệ thuật và văn hóa.</li>
                    <li><strong>Cấu trúc và độ dài phù hợp</strong>: Sách thiếu nhi thường có cấu trúc đơn giản và dễ theo dõi. Độ dài của sách thường được điều chỉnh để phù hợp với khả năng chú ý và thời gian tập trung của trẻ em.</li>
                    <li><strong>Giáo dục và giải trí</strong>: Sách thiếu nhi không chỉ mang tính giáo dục mà còn giúp trẻ em giải trí và phát triển tư duy sáng tạo thông qua việc khám phá thế giới xung quanh và trải nghiệm câu chuyện.</li>
                </ul>
            </p>
        }
        else if (Model.Id == 5)
        {
            <p class="content">
                Thể loại sách "Sách Giáo Khoa" là những cuốn sách được thiết kế để sử dụng trong quá trình giảng dạy và học tập ở các cấp độ giáo dục, từ mẫu giáo đến trường trung học phổ thông và đại học. Những cuốn sách giáo khoa thường chứa kiến thức cơ bản và chuyên sâu về một lĩnh vực cụ thể, nhưng được biên soạn và trình bày một cách có hệ thống và dễ hiểu để giúp sinh viên hoặc học sinh hiểu và tiếp cận với nội dung một cách hiệu quả.
                Các đặc điểm chính của sách giáo khoa bao gồm:
                <ul>
                    <li><strong>Nội dung chuyên môn</strong>: Sách giáo khoa thường tập trung vào việc trình bày kiến thức và thông tin liên quan đến một lĩnh vực cụ thể, bao gồm các bài giảng, lý thuyết, bài tập và ví dụ minh họa.</li>
                    <li><strong>Cấu trúc rõ ràng</strong>: Sách giáo khoa thường được tổ chức thành các chương hoặc bài học, mỗi phần tập trung vào một chủ đề cụ thể. Cấu trúc rõ ràng giúp học sinh dễ dàng theo dõi và hấp thụ thông tin.</li>
                    <li><strong>Được phê duyệt và chuẩn bị kỹ lưỡng</strong>: Sách giáo khoa thường được biên soạn và kiểm tra kỹ lưỡng bởi các chuyên gia trong lĩnh vực giáo dục và chuyên môn tương ứng, đảm bảo tính chính xác và đáng tin cậy của thông tin.</li>
                    <li><strong>Phù hợp với chuẩn đầu ra giáo dục</strong>: Sách giáo khoa thường được phát triển để đáp ứng các chuẩn đầu ra giáo dục được xác định bởi các tổ chức giáo dục cấp quốc gia hoặc quốc tế.</li>
                    <li><strong>Đa dạng về loại hình và chủ đề</strong>: Có nhiều loại sách giáo khoa khác nhau, từ sách văn học đến sách khoa học, toán học, xã hội, ngôn ngữ, và nhiều lĩnh vực khác, phù hợp với nhu cầu và quy định của từng cấp độ giáo dục.</li>
                </ul>
            </p>
        }
        else if (Model.Id == 6)
        {
            <p class="content">
                Thể loại sách "Sách Ngoại Ngữ" là các cuốn sách được thiết kế để giúp người học nắm vững và phát triển kỹ năng trong việc học một ngôn ngữ ngoại quốc. Các cuốn sách này thường chứa các bài học về ngữ pháp, từ vựng, kỹ năng nghe, nói, đọc và viết, cũng như các hoạt động thực hành và bài tập để giúp người học tiến bộ.
                Các đặc điểm chính của sách ngoại ngữ bao gồm:
                <ul>
                    <li><strong>Cấu trúc và chủ đề phong phú</strong>: Sách ngoại ngữ thường bao gồm các bài học được tổ chức một cách có hệ thống, từ những kiến thức cơ bản nhất đến những kiến thức phức tạp hơn. Chủ đề của sách có thể rất đa dạng, từ cuộc sống hàng ngày, du lịch, công việc, đến văn hóa và lịch sử.</li>
                    <li><strong>Cung cấp kỹ năng toàn diện</strong>: Sách ngoại ngữ thường hướng đến việc phát triển cả bốn kỹ năng ngôn ngữ cơ bản: nghe, nói, đọc và viết. Các bài học thường được thiết kế để cung cấp cơ hội cho người học thực hành mọi kỹ năng này.</li>
                    <li><strong>Minh họa và phụ đề</strong>: Một số sách ngoại ngữ đi kèm với hình ảnh minh họa và phụ đề để giúp người học hiểu rõ hơn nội dung. Các hình ảnh và phụ đề này cũng có thể giúp người học ghi nhớ từ vựng và ngữ pháp một cách dễ dàng hơn.</li>
                    <li><strong>Cung cấp bài tập và thực hành</strong>: Sách ngoại ngữ thường đi kèm với các bài tập và hoạt động thực hành để người học có thể áp dụng những kiến thức đã học vào thực tế và cải thiện kỹ năng ngôn ngữ của mình.</li>
                    <li><strong>Cập nhật và linh hoạt</strong>: Với sự phát triển không ngừng của ngôn ngữ, sách ngoại ngữ thường được cập nhật để phản ánh những thay đổi trong ngôn ngữ và xã hội, đồng thời cung cấp nhiều tùy chọn và phương pháp học linh hoạt cho người học.</li>
                </ul>
            </p>
        }
        else if (Model.Id == 7)
        {
            <p class="content">
                Thể loại sách "Nuôi Dạy Con" là những cuốn sách được viết nhằm hướng dẫn và cung cấp kiến thức cho cha mẹ hoặc người chăm sóc trẻ em về cách nuôi dạy và phát triển con cái một cách lành mạnh và tích cực. Các cuốn sách này thường bao gồm các chiến lược, kỹ thuật và lời khuyên để giúp phụ huynh hiểu rõ hơn về tâm lý, hành vi và nhu cầu của trẻ em, cũng như cung cấp các phương pháp và công cụ để xây dựng một môi trường gia đình lành mạnh và hỗ trợ sự phát triển của trẻ.                Các đặc điểm chính của sách ngoại ngữ bao gồm:
                Các đặc điểm chính của sách nuôi dạy con bao gồm:
                <ul>
                    <li><strong>Phương pháp giáo dục</strong>: Sách nuôi dạy con thường cung cấp các phương pháp giáo dục, từ các kỹ thuật giao tiếp hiệu quả đến các phương pháp giải quyết xung đột và đào tạo kỹ năng sống cho trẻ.</li>
                    <li><strong>Tâm lý trẻ em</strong>: Cuốn sách này thường chia sẻ kiến thức về tâm lý trẻ em, giúp cha mẹ hiểu rõ hơn về cách trẻ em suy nghĩ, cảm xúc và hành vi, từ đó có thể tương tác và hỗ trợ trẻ một cách hiệu quả hơn.</li>
                    <li><strong>Chiến lược giải quyết vấn đề</strong>: Sách nuôi dạy con thường cung cấp các chiến lược giải quyết vấn đề phổ biến mà cha mẹ thường gặp phải trong quá trình nuôi dạy con cái, từ việc quản lý thời gian đến xử lý hành vi không mong muốn của trẻ.</li>
                    <li><strong>Xây dựng mối quan hệ gia đình</strong>: Cuốn sách này thường tập trung vào việc xây dựng và duy trì mối quan hệ tốt đẹp giữa cha mẹ và con cái, cũng như giữa các thành viên trong gia đình.</li>
                    <li><strong>Phát triển của trẻ</strong>: Sách nuôi dạy con thường chia sẻ thông tin về phát triển về cảm xúc, vật lý và tinh thần của trẻ em, từ giai đoạn sơ sinh đến tuổi teen, để giúp cha mẹ hỗ trợ và khuyến khích sự phát triển toàn diện của con cái.</li>
                </ul>
            </p>
        }
        else if (Model.Id == 8)
        {
            <p class="content">
                Thể loại sách "Tiểu Sử - Hồi Ký" là những cuốn sách mà tác giả chia sẻ về cuộc đời của mình hoặc của người khác thông qua việc kể lại câu chuyện, trải nghiệm và những sự kiện quan trọng đã xảy ra trong quá khứ. Thể loại này thường bao gồm cả hồi ký và tiểu sử, nhưng có thể tập trung nhiều vào một trong hai loại.                Các đặc điểm chính của sách ngoại ngữ bao gồm:
                Các đặc điểm chính của sách tiểu sử - hồi ký là:
                <ul>
                    <li><strong>Kể chuyện cá nhân</strong>: Tác giả chia sẻ về cuộc sống cá nhân của mình, bao gồm các sự kiện, trải nghiệm, cảm xúc và những bài học đã học được trong suốt cuộc đời.</li>
                    <li><strong>Nhân vật chính là tác giả hoặc người khác</strong>: Trong một số trường hợp, tác giả viết về chính bản thân mình, trong khi ở những cuốn sách khác, họ có thể viết về một nhân vật khác trong lịch sử hoặc về một người nổi tiếng.</li>
                    <li><strong>Mang tính chân thực và độc lập</strong>: Sách tiểu sử - hồi ký thường được viết một cách chân thực và độc lập, dựa trên những kinh nghiệm và quan sát cá nhân của tác giả.</li>
                    <li><strong>Truyền cảm hứng và tri thức</strong>: Sách này có thể truyền cảm hứng và cung cấp tri thức cho độc giả, giúp họ hiểu rõ hơn về cuộc sống và thế giới xung quanh thông qua góc nhìn cá nhân của tác giả.</li>
                    <li><strong>Lịch sử và giáo dục</strong>: Nhiều cuốn sách tiểu sử - hồi ký cũng là nguồn tài liệu quý giá cho việc nghiên cứu lịch sử và cung cấp thông tin giáo dục về một thời kỳ cụ thể hoặc về một cá nhân nổi tiếng.</li>
                </ul>
            </p>
        }
        else
        {
            <p class="content">
                Thể loại sách "???" 
                Các đặc điểm chính của sách ??? bao gồm:
                <ul>
                    <li><strong>Không Xác Định</strong>: Không xác định.</li>
                </ul>
            </p>
        }



    <div class="buttons">
        <a class="btn btn-dark" asp-action="Index">Trở về danh sách</a>
    </div>
</div>
</body>
<style scoped>

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .heading {
        color: #333;
        margin-bottom: 20px;
        transition: color 0.3s ease;
        text-align: center;
    }

    .content {
        color: #6aa173;
        line-height: 1.6;
        text-align: justify; /* Căn đều */
        font-style: italic;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0; /* Xóa khoảng trống ở đầu danh sách */
    }

    li {
        margin-bottom: 10px;
        position: relative;
    }

    .buttons {
        margin-top: 30px;
        text-align: center;
    }

    .btn {
        margin-right: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .btn:hover {
            background-color: #28a745;
            color: #fff;
        }


</style>
<script>
    // Lấy thẻ tiêu đề
    var heading = document.getElementById('heading');

    var colors = ['#ff0000', '#00ff00', '#0000ff']; // Đỏ, xanh lá cây, xanh dương

    var index = 0;
    setInterval(function () {
        heading.style.color = colors[index];
        index = (index + 1) % colors.length;
    }, 2000);
</script>
*@